*, *:before, *:after {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 
        'Raleway',
        'Times New Roman', 
        Times, 
        serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 
        'Montserrat',
        Helvetica,
        Arial,
        sans-serif;
}

/* media queries */
/*@media only screen and (orientation: portrait) {
}

@media only screen and (max-width: 450px) {
}*/